<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Email Notification</title>
    <!--    <link rel="stylesheet" href="/css/otp.style.css">-->
  </head>
  <body>
    <table
      style="
        font-family: sans-serif;
        font-size: 16px;
        width: 600px;
        margin: 0 auto;
        border-collapse: collapse;
      "
    >
      <tr>
        <td style="padding: 20px; border-bottom: 1px solid #eee">
          <a
            href="#"
            style="color: #ea7005; text-decoration: none; font-weight: bold"
          >
            WHYMYLIFE
          </a>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px">
          <!-- <p>Hi <%= client_name %>,</p> -->
          <p>Hi Admin</p>
          <p><%= description %></p>
        </td>
      </tr>
      <tr>
        <td
          style="
            text-align: center;
            background-color: #ea7005;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
          "
        >
          <h2>Thank You</h2>
          <!-- <h2 style="margin: 0"><%= otp %></h2> -->
        </td>
      </tr>
      <tr>
        <td style="padding: 20px">
          <p>
            These notification is only for the Admin to know when a request is
            sent from WHYMYLIFE
          </p>
          <p style="margin-bottom: 0">
            If you didn't want these notification, please disregard this email
            and contact the developement team immediately.
          </p>
        </td>
      </tr>
      <!-- <tr>
        <td style="padding: 20px; text-align: center">
          <a
            href="#"
            style="
              background-color: #ea7005;
              color: #fff;
              padding: 10px 20px;
              border-radius: 5px;
            "
            >Verify Now</a
          >
        </td>
      </tr> -->
      <tr>
        <td style="padding: 20px; text-align: center">
          <p>Already have an account?</p>
          <p><a href="#" style="color: #de0909">Sign in here</a></p>
        </td>
      </tr>
    </table>
  </body>
</html>
